@keyframes ldio-sbtjrg3x12o {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.ldio-sbtjrg3x12o div {
  position: absolute;
  animation: ldio-sbtjrg3x12o 1s linear infinite;
  box-sizing: border-box !important;
}
.ldio-sbtjrg3x12o div:nth-child(1) {
  width: 44px;
  height: 44px;
  left: 34px;
  top: 128px;
  border-radius: 50%;
  background: #f47e60;
}
.ldio-sbtjrg3x12o div:nth-child(2) {
  width: 66px;
  height: 66px;
  left: 56px;
  top: 84px;
  border-radius: 0 66px 0 0;
  border: 20px solid #f8b26a;
  background: none;
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0;
}
.ldio-sbtjrg3x12o div:nth-child(3) {
  width: 110px;
  height: 110px;
  left: 56px;
  top: 40px;
  border-radius: 0 110px 0 0;
  border: 20px solid #abbd81;
  background: none;
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0;
}
.loadingio-spinner-radio-b5bfsnskm8f {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-sbtjrg3x12o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sbtjrg3x12o div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
